# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

orbs:
  node: circleci/node@4.1
  codecov: codecov/codecov@1.2.5
jobs:
  codecov-job:
    docker:
      # replace with your preferred image
      - image: cimg/base:stable
    steps:
      - codecov/upload:
          file: .nyc_output/
workflows:
  sample:
    jobs:
      - node/test:
          version: '16.1'
      - codecov-job:
          requires: 
              - node/test