# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

orbs:
  node: circleci/node@4.1
  codecov: codecov/codecov@1.2.5
jobs:
  codecov-job:
    docker:
      # replace with your preferred image
      - image: cimg/node:16.5.0
    steps:
      - checkout
      - run:
          name: Install
          command: npm install
      - run:
          name: Test
          command: npm test
      - codecov/upload:
          file: coverage/lcov.info
workflows:
  sample:
    jobs:
      - codecov-job